name: Github Pages
on:
  push:
    branches:
    - master
jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3

    - name: Build html
      id: adocbuild
      uses: ./.github/actions/adoc-build

    - name: Deploy to ghpages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./build
        cname: bitcoincore.wtf
